.sidebar {
  height: 100%;
  width: 160px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  overflow-y: hidden;

  padding-top: 16px;
}
.color {
  color: #f1f1f1;
}
.hidden {
  display: none;
}

.patient-edit-screen {
  border-style: solid;
  padding: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  background: linear-gradient(to right, #a3098f, #f1f1f5, #a3098f);
  color: #111;
  float: inline-start;
}

/* Style sidebar links */
.sidebar a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 20px;
  color: #818181;
  display: block;
}
.l1 {
  margin: 20px;
}
.l2 {
  margin: 15px;
}

/* Style links on mouse-over */
.sidebar a:hover {
  color: #f1f1f1;
}
#customers {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

.user-list-screen {
  border-style: solid;
  border-color: #f3f6fc;
  padding: 20px;
  margin-top: 20px;
  margin-bottom: 20px;

  background-color: rgb(243, 242, 241);
  color: #111;
  float: inline-start;
}
.user-edit-screen {
  border-style: solid;
  border-color: #f3e9e6;
  padding: 20px;
  margin-top: 20px;
  margin-bottom: 20px;

  background-color: rgb(247, 248, 252);
  color: #111;
  float: inline-start;
}
.mar-top {
  margin-top: 20px;
}

.sidenav {
  height: 100%;
  width: 160px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  padding-top: 20px;
}
.flex-grow {
  flex: 1 0 auto;
}

.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
}

.sidenav a:hover {
  color: #f1f1f1;
}
.addbutton {
  margin: 20px;
}
.btn-danger {
  width: fit-content;
}

.main {
  margin-left: 160px;
  font-size: 28px;
  padding: 0px 10px;
}
.font-robo {
  font-family: "Roboto", "Arial", "Helvetica Neue", sans-serif;
}

.font-poppins {
  font-family: "Poppins", "Arial", "Helvetica Neue", sans-serif;
}

@media (max-width: 767px) {
  .card-4 .card-body {
    padding: 50px 40px;
  }
}
